<div class="card" style="width: 15rem;">
  <div class="card-body">
    <h5 class="card-title" >{{ name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted"  >Price: {{ price }} KGS</h6>
  </div>
</div>

