<div class="col d-flex row">
  <app-card-item *ngFor="let item of allItems; let i = index"
                 [name]="item.name"
                 [img]="item.imageUrl"
                 [coast]="item.coast"
                 [price]="item.price"
                 (click)="createNewItem(i)"

  ></app-card-item>
</div>

