<div class="container">
<h1>Fast Food</h1>
<div class="container-md d-flex mt-5 border border-danger p-5">
  <div class="col-6 border border-dark ">
    <app-order-details
  [orders]="AllItems"
    ></app-order-details>
  </div>
  <div class="col-6 border border-dark">
    <app-add-items (createItem)="onCreateItem($event)"
                   [allItems] = "AllItems"
    ></app-add-items>
  </div>
</div>
</div>
