<div class="order d-flex ">
  <p>Order is Empty.</p>
  <p>Please add some items!</p>
</div>

<app-order *ngFor="let order of orders; let i = index"
           [ordersName]="order.name"
           [ordersCoast]="order.coast"
           [ordersPrice]="order.price"
           (sumOrder)="onSumOrder(i)"
></app-order>
